@import "tailwindcss";

/*
 * Temporary added: Styling not yet.
 * TODO remove below
 */
@layer base {
  :focus {
    border-color: AccentColor;
  }

  input,
  select,
  textarea,
  td,
  th {
    border: thin ButtonBorder solid;
  }

  label,
  button,
  input[type="checkbox"] {
    margin-left: 2rem;
    padding-right: 1rex;
  }

  label:first-of-type {
    margin-left: 1rem;
  }

  label + select,
  label + textarea,
  label + input {
    margin-left: 0;
  }

  input[type="checkbox"] + label {
    margin-left: 1rex;
  }

  button,
  textarea,
  td {
    padding: 0 0.5rex;
  }

  table {
    margin-top: 1rem;
  }

  button {
    border: thin ButtonBorder solid;
    background-color: ButtonFace;
  }

  button:active {
    transform: scale(0.9);
  }

  label,
  button {
    text-transform: capitalize;
  }

  th,
  td {
    font-family: monospace;
  }
}
